.eighthPage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
}
.eighthPage .mainEighth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 79.167%;
  height: 65.714%;
}
.eighthPage .mainEighth .formEighth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53.947%;
  height: 100%;
  background-color: rgba(2, 22, 35, 0.71);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
}
.eighthPage .mainEighth .formEighth form {
  width: 89.9%;
  height: 83.478%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.eighthPage .mainEighth .formEighth form input, .eighthPage .mainEighth .formEighth form textarea {
  background-color: rgba(74, 88, 98, 0);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
.eighthPage .mainEighth .formEighth form .textareaEighth {
  width: 100%;
  height: 23.958%;
}
.eighthPage .mainEighth .formEighth form label {
  color: rgba(255, 255, 255, 0.3);
}
.eighthPage .mainEighth .formEighth form .submit {
  width: 245px;
  height: 55px;
  background-color: #6eeee4;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 0.12em;
  font-weight: bold;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}
.eighthPage .mainEighth .formEighth form .submit:hover {
  cursor: pointer;
  background-color: #262b2e;
  color: white;
}
.eighthPage .mainEighth .contactsEighth {
  width: 43.86%;
  height: 100%;
  background-color: rgba(2, 22, 35, 0.71);
  padding: 1.667% 1.93%;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.eighthPage .mainEighth .contactsEighth .listOne {
  padding-top: 3.51%;
  padding-left: 1.974%;
  line-height: 1.5;
}
.eighthPage .mainEighth .contactsEighth .listTwo {
  padding-top: 2.5%;
  padding-left: 1.974%;
  line-height: 1.5;
}/*# sourceMappingURL=eighthPage.css.map */