@import "varaibles.scss";



.eighthPage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    .mainEighth {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 79.167%;
        height: 65.714%;
        .formEighth {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 53.947%;
            height: 100%;
            background-color: $bgColorForm;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            letter-spacing: 0.01em;
            form {
                width: 89.90%;
                height: 83.478%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                input, textarea {
                    background-color: rgba(74, 88, 98, 0);
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, .3);
                    color: white;
                }
                .textareaEighth {
                    width: 100%;
                    height: 23.958%;
                }
                label {
                    color: rgba(255, 255, 255, .3);
                }
                .submit {
                    width: 245px;
                    height: 55px;
                    background-color: $bgColorContrast;
                    margin-top: 15px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    letter-spacing: .12em;
                    font-weight: bold;
                    line-height: 28px;
                    color: rgba(0, 0, 0, .7);
                    border-radius: 2px;
                    &:hover {
                        cursor: pointer;
                        background-color: $bgColorFooter;
                        color: white;
                    }
                }
            }
        }
        .contactsEighth {
            width: 43.86%;
            height: 100%;
            background-color: $bgColorForm;
            padding: 1.667% 1.93%;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            letter-spacing: 0.01em;
            color: rgba(255, 255, 255, .3);
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            .listOne {
                padding-top: 3.51%;
                padding-left: 1.974%;
                line-height: 1.5;
            }
            .listTwo {
                padding-top: 2.5%;
                padding-left: 1.974%;
                line-height: 1.5;
            }
        }
    }
}