.fifthPage {
  max-width: 1440px;
  height: 1314px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.fifthPage h2, .fifthPage h3, .fifthPage h4, .fifthPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.fifthPage .headerFifth {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 20%;
}
.fifthPage .headerFifth h2 {
  position: absolute;
  top: 49.467%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.fifthPage .headerFifth h3 {
  position: absolute;
  top: 66.591%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.fifthPage .mainFifth {
  position: relative;
  width: 100%;
  height: 80%;
}
.fifthPage .mainFifth .galleryFifth {
  width: 79.236%;
  height: 85.046%;
  position: absolute;
  top: 3.729%;
  left: 10.417%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.fifthPage .mainFifth .galleryFifth h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
  margin-bottom: 25px;
  text-align: left;
}
.fifthPage .mainFifth .galleryFifth h4 span {
  font-size: 15px;
  letter-spacing: 0.03em;
  font-weight: normal;
  color: rgba(118, 112, 112, 0.95);
  font-style: italic;
  text-transform: none;
}
.fifthPage .mainFifth .galleryFifth p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.025em;
  line-height: 28px;
  margin-bottom: 20px;
}
.fifthPage .mainFifth .galleryFifth .cardFifth {
  position: relative;
  width: 32.428%;
  height: 49.217%;
}
.fifthPage .mainFifth .galleryFifth .cardFifth .imgFifth {
  max-width: 100%;
}
.fifthPage .mainFifth .galleryFifth .cardFifth .cardContent {
  opacity: 0;
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-image: url(/assets/img/clowd.png);
  width: 100%;
  height: 100%;
  padding: 60.364% 18.919% 12.955% 15.135%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.fifthPage .mainFifth .galleryFifth .cardFifth .cardContent:hover {
  opacity: 1;
}/*# sourceMappingURL=fifthPage.css.map */