@import "varaibles.scss";



.fifthPage {
    max-width: 1440px;
    height: 1314px;
    margin: 0 auto;
    letter-spacing: 0.06em;
    line-height: 28px;
    h2, h3, h4, h5 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .headerFifth {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        height: 20%;
        h2 {
            position: absolute;
            top: 49.467%;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 38px;
            font-weight: bold;
            color: rgba($color: $colorText, $alpha: .9);
            margin-bottom: 18px;
        }
        h3 {
            position: absolute;
            top: 66.591%;
            width: 100%;
            font-family: 'Merriweather', serif;
            font-size: 18px;
            font-weight: normal;
            color: rgba($color: $colorText, $alpha: .62);
        }
    }
    .mainFifth {
        position: relative;
        width: 100%;
        height: 80%;
        .galleryFifth {
            width: 79.236%;
            height: 85.046%;
            position: absolute;
            top: 3.729%;
            left: 10.417%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
            h4 {
                font-family: 'Merriweather', serif;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.05em;
                font-weight: bold;
                color: rgba($color: black, $alpha: .95);
                margin-bottom: 25px;
                text-align: left;
                span {
                    font-size: 15px;
                    letter-spacing: 0.03em;
                    font-weight: normal;
                    color: rgba(118, 112, 112, .95);
                    font-style: italic;
                    text-transform: none;
                }
            }
            p {
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                font-weight: normal;
                color: rgba($color: black, $alpha: .75);
                letter-spacing: 0.025em;
                line-height: 28px;
                margin-bottom: 20px;
            }
            .cardFifth {
                position: relative;
                width: 32.428%;
                height: 49.217%;
                .imgFifth {
                    max-width: 100%;
                }
                .cardContent {
                    opacity: 0;
                    position: absolute;
                    left: 0%;
                    bottom: 0%;
                    background-image: url(/assets/img/clowd.png);
                    width: 100%;
                    height: 100%;
                    padding: 60.364% 18.919% 12.955% 15.135%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}