.firstPage {
  max-width: 1440px;
  height: 805px;
  margin: 0 auto;
}
.firstPage .headerFirst {
  width: 100%;
  height: 20%;
  position: relative;
}
.firstPage .headerFirst .logo {
  position: absolute;
  top: 39.752%;
  left: 10.417%;
  width: 113px;
  height: 46px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstPage .headerFirst .logo .shopno {
  font: bold 17px/28px "Montserrat", sans-serif;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.firstPage .headerFirst .logo .shopno span {
  font-size: 21px;
  color: #6eeee4;
}
.firstPage .headerFirst .burger {
  position: absolute;
  top: 28%;
  right: 10.417%;
}
.firstPage .headerFirst .burger .container {
  position: absolute;
  right: 0;
}
.firstPage .headerFirst .burger .container #toggle {
  position: absolute;
  visibility: hidden;
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .toggle-container .button-toggle:before {
  transform: translateY(-50%) rotate(45deg) scale(1);
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .toggle-container .button-toggle:after {
  transform: translateY(-50%) rotate(-45deg) scale(1);
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .nav {
  display: grid;
  grid-template-columns: repeat(4, 162.5px);
  grid-template-rows: repeat(2, 30px);
  width: 650px;
  height: 60px;
  margin-bottom: 100px;
  pointer-events: auto;
  transform: translate(-60px, -15px);
  background-color: rgba(112, 244, 234, 0.5);
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .nav .nav-item {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #606061;
  letter-spacing: 0;
  height: 10px;
  line-height: 28px;
  margin-top: 0;
  opacity: 1;
  transform: scaleY(1);
  transition: 0.5s, opacity 0.1s;
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .nav .nav-item:before {
  opacity: 0;
}
.firstPage .headerFirst .burger .container .button-toggle {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}
.firstPage .headerFirst .burger .container .button-toggle:hover {
  box-shadow: 0 0 0 15px #70f4ea, inset 0 0 0 20px #70f4ea;
}
.firstPage .headerFirst .burger .container .button-toggle:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #606061;
  border-radius: 5px;
  transition: 0.5s;
  transform: translateY(-50%) rotate(45deg) scale(0);
}
.firstPage .headerFirst .burger .container .button-toggle:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #606061;
  border-radius: 5px;
  transition: 0.5s;
  transform: translateY(-50%) rotate(-45deg) scale(0);
}
.firstPage .headerFirst .burger .container .nav {
  display: inline-block;
  margin: 25px 25px 20px;
  pointer-events: none;
  transition: 0.5s;
}
.firstPage .headerFirst .burger .container .nav .nav-item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);
  transition: 0.5s, opacity 1s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(1) {
  transition-delay: 0s;
  letter-spacing: -5px;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(1):before {
  transition-delay: 0s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(2) {
  transition-delay: 0.05s;
  letter-spacing: -6.85px;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(2):before {
  transition-delay: 0.05s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(3) {
  transition-delay: 0.1s;
  letter-spacing: -5.7px;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(3):before {
  transition-delay: 0.1s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(4) {
  transition-delay: 0.15s;
  letter-spacing: -6px;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(4):before {
  transition-delay: 0.15s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(n+5) {
  letter-spacing: -8px;
  margin-top: -7px;
  opacity: 0;
}
.firstPage .headerFirst .burger .container .nav .nav-item:before {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #606061;
  transform: translateY(-50%) scaleY(5);
  transition: 0.5s;
}
.firstPage .mainFirst {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
}
.firstPage .mainFirst h1 {
  position: absolute;
  bottom: 60.094%;
  width: 100%;
  margin: 0;
  font: bold 45px/56px "Montserrat", sans-serif;
  color: #505050;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.firstPage .mainFirst h1 span {
  display: inline-block;
  width: 255px;
  background-color: rgba(110, 238, 228, 0.5);
}
.firstPage .mainFirst h1 .agency {
  width: 236px;
}
.firstPage .mainFirst .buttonFirst {
  position: absolute;
  bottom: 197px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 232px;
  height: 53px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.12em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstPage .mainFirst .buttonFirst a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}
.firstPage .mainFirst .buttonFirst:hover {
  border: 2px solid rgba(110, 238, 228, 0.5);
  background-color: #505050;
}
.firstPage .mainFirst .buttonFirst:hover a {
  color: #6eeee4;
}
.firstPage .mainFirst .imgFirst {
  position: absolute;
  bottom: 21.273%;
  right: 16.875%;
}/*# sourceMappingURL=firstPage.css.map */