@import "varaibles.scss";



.firstPage {
    max-width: 1440px;
    height: 805px;
    margin: 0 auto;

    .headerFirst {
        width: 100%;
        height: 20%;
        position: relative;
        .logo {
            position: absolute;
            top: 39.752%;
            left: 10.417%;
            width: 113px;
            height: 46px;
            border: $borderLogo;
            display: flex;
            justify-content: center;
            align-items: center;
            .shopno {
                font: bold 17px/28px 'Montserrat', sans-serif;
                color: $colorText;
                text-transform: uppercase;
                letter-spacing: 0.06em;
                span {
                    font-size: 21px;
                    color: $bgColorContrast;
                }
            }
        }
        .burger {
            position: absolute;
            top: 28%;
            right: 10.417%;
            .container {
                position: absolute;
                right: 0;
                #toggle {
                    position: absolute;
                    visibility: hidden;
                    &:checked {
                        & ~ .toggle-container {
                            .button-toggle {
                                &:before {
                                    transform: translateY(-50%) rotate(45deg) scale(1);
                                }
                                &:after {
                                    transform: translateY(-50%) rotate(-45deg) scale(1);
                                }
                            }
                        }
                        & ~ .nav {
                            display: grid;
                            grid-template-columns: repeat(4, 162.5px);
                            grid-template-rows: repeat(2, 30px);
                            width: 650px;
                            height: 60px;
                            margin-bottom: 100px;
                            pointer-events: auto;
                            transform: translate(-60px, -15px);
                            background-color: rgba(112, 244, 234, 0.5);
                            .nav-item {
                                font-family: 'Montserrat', sans-serif;
                                text-align: center;
                                color: rgb(96, 96, 97);
                                letter-spacing: 0;
                                height: 10px;
                                line-height: 28px;
                                margin-top: 0;
                                opacity: 1;
                                transform: scaleY(1);
                                transition: 0.5s, opacity 0.1s;
                                &:before {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
                .button-toggle {
                    position: absolute;
                    right: 0;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin: 25px;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    transition: 0.6s;
                    &:hover {
                        box-shadow: 0 0 0 15px rgba(112, 244, 234, 1), inset 0 0 0 20px rgba(112, 244, 234, 1);
                    }
                    &:before {
                        position: absolute;
                        content: '';
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: rgb(96, 96, 97);
                        border-radius: 5px;
                        transition: 0.5s;
                        transform: translateY(-50%) rotate(45deg) scale(0);
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: rgb(96, 96, 97);
                        border-radius: 5px;
                        transition: 0.5s;
                        transform: translateY(-50%) rotate(-45deg) scale(0);
                    }
                }
                .nav {
                    display: inline-block;
                    margin: 25px 25px 20px;
                    pointer-events: none;
                    transition: 0.5s;
                    .nav-item {
                        position: relative;
                        display: inline-block;
                        float: left;
                        clear: both;
                        color: transparent;
                        font-size: 14px;
                        letter-spacing: -6.2px;
                        height: 7px;
                        line-height: 7px;
                        text-transform: uppercase;
                        white-space: nowrap;
                        transform: scaleY(0.2);
                        transition: 0.5s, opacity 1s;
                        &:nth-child(1) {
                            transition-delay: 0s;
                            letter-spacing: -5px;
                            &:before {
                                transition-delay: 0s;
                            }
                        }
                        &:nth-child(2) {
                            transition-delay: 0.05s;
                            letter-spacing: -6.85px;
                            &:before {
                                transition-delay: 0.05s;
                            }
                        }
                        &:nth-child(3) {
                            transition-delay: 0.1s;
                            letter-spacing: -5.7px;
                            &:before {
                                transition-delay: 0.1s;
                            }
                        }
                        &:nth-child(4){
                            transition-delay: 0.15s;
                            letter-spacing: -6px;
                            &:before {
                                transition-delay: 0.15s;
                            }
                        }
                        &:nth-child(n + 5) {
                            letter-spacing: -8px;
                            margin-top: -7px;
                            opacity: 0;
                        }
                        &:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: rgb(96, 96, 97);
                            transform: translateY(-50%) scaleY(5);
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }

    .mainFirst {
        width: 100%;
        height: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        h1 {
            position: absolute;
            bottom: 60.094%;
            width: 100%;
            margin: 0;
            font: bold 45px/56px 'Montserrat', sans-serif;
            color: $colorTexttTitle;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            text-align: center;
            text-shadow: 5px 5px 5px rgba($color: black, $alpha: .2);
            // Решить проблему с выравниванием и высотой спана!!!!!
            span {
                display: inline-block;
                width: 255px;
                background-color: rgba($color: $bgColorContrast, $alpha: .5);
            }
            .agency {
                width: 236px;
            }
        }
        .buttonFirst {
            position: absolute;
            bottom: 197px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            line-height: 28px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            text-align: center;
            width: 232px;
            height: 53px;
            border: $borderButtonFirst;
            border-radius: 2px;
            font-size: 18px;
            font-weight: normal;
            letter-spacing: 0.12em;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                color: rgba($color: $colorText, $alpha: .75);
            }
            &:hover {
                border: 2px solid rgba($color: $bgColorContrast, $alpha: .5);
                background-color: $colorTexttTitle;
                a {
                    color: $bgColorContrast;
                }
            }
        }
        .imgFirst {
            position: absolute;
            bottom: 21.273%;
            right: 16.875%;
        }
    }
}
