@import "varaibles.scss";



.fourthPage {
    width: 1440px;
    height: 1618px;
    margin: 0 auto;
    letter-spacing: 0.06em;
    line-height: 28px;
    h2, h3, h4, h5 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .headerFourth {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        height: 10%;
        h2 {
            position: absolute;
            top: 80.346%;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 38px;
            font-weight: bold;
            color: rgba($color: $colorText, $alpha: .9);
            margin-bottom: 18px;
        }
        h3 {
            position: absolute;
            top: 108.158%;
            width: 100%;
            font-family: 'Merriweather', serif;
            font-size: 18px;
            font-weight: normal;
            color: rgba($color: $colorText, $alpha: .62);
        }
    }
    .mainFourth {
        position: relative;
        width: 100%;
        height: 90%;
        h4, h5 {
            text-align: left;
        }
        .galleryFourth {
            width: 79.097%;
            height: 81.876%;
            position: absolute;
            top: 9.834%;
            left: 10.417%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
            h4 {
                font-family: 'Merriweather', serif;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 0.06em;
                line-height: 29px;
                color: rgba($color: black, $alpha: .83);
                margin-bottom: 20px;
            }
            p {
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                font-weight: normal;
                color: rgba($color: black, $alpha: .75);
                letter-spacing: 0.025em;
                line-height: 28px;
                margin-bottom: 20px;
            }
            a {
                font-family: 'Raleway', sans-serif;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    color: $bgColorContrast;
                }
            }
            a::after {
                content: url(/assets/img/arrow.png);
                position: relative;
                left: 2.218%;
                top: 0.168%;
            }
            .one {
                position: relative;
                background-color: $bgColorContrast;
                width: 57.193%;
                height: 35.492%;
                .krest {
                    position: absolute;
                    left: 10%;
                    bottom: 10%;
                }
                .oneE {
                    position: absolute;
                    top: 15.166%;
                    left: 10.123%;
                    width: 72.239%;
                    height: 48.814%;
                }
            }
            .two {
                width: 41.579%;
                height: 35.492%;
                background-image: url(/assets/img/kollaj1.png);
                background-repeat: no-repeat;
                background-size: cover;
                .twoO {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: $colorText, $alpha: .65);
                    .twoOO {
                        position: absolute;
                        top: 43.6%;
                        left: 13.713%;
                        width: 66.456%;
                        height: 42.656%;
                    }
                }
                h4, p {
                    color: white;
                }
                
            }
            .three {
                width: 57.193%;
                height: 31.203%;
                background-image: url(/assets/img/kollaj2.png);
                background-repeat: no-repeat;
                background-size: cover;
                .treeE {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: $colorText, $alpha: .65);
                    .treeEE {
                        position: absolute;
                        top: 44.744%;
                        left: 9.969%;
                        width: 60.583%;
                        height: 40.431%;
                    }
                }
                h4, p {
                    color: white;
                }
            }
            .four {
                width: 41.579%;
                height: 31.203%;
                background-image: url(/assets/img/kollaj3.png);
                background-repeat: no-repeat;
                background-size: cover;
                .fourR {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: $colorText, $alpha: .65);
                    .fourRR {
                        position: absolute;
                        top: 44.744%;
                        left: 13.713%;
                        width: 64.557%;
                        height: 40.431%;
                    }
                }
                h4, p {
                    color: white;
                }
            }
            .five {
                width: 41.579%;
                height: 31.119%;
                background-image: url(/assets/img/kollaj4.png);
                background-repeat: no-repeat;
                background-size: cover;
                .fiveE {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: $colorText, $alpha: .65);
                    .fiveEE {
                        position: absolute;
                        top: 35.405%;
                        left: 13.713%;
                        width: 60.557%;
                        height: 49.19%;
                    }
                }
                h4, p {
                    color: white;
                }
            }
            .six {
                width: 57.193%;
                height: 31.119%;
                background-image: url(/assets/img/kollaj5.png);
                background-repeat: no-repeat;
                background-size: cover;
                .sixX {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: $colorText, $alpha: .65);
                    .sixXX {
                        position: absolute;
                        top: 35.405%;
                        left: 9.969%;
                        width: 60.583%;
                        height: 49.19%;
                    }
                }
                h4, p {
                    color: white;
                }
            }
        }
    }
}