.fourthPage {
  width: 1440px;
  height: 1618px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.fourthPage h2, .fourthPage h3, .fourthPage h4, .fourthPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.fourthPage .headerFourth {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 10%;
}
.fourthPage .headerFourth h2 {
  position: absolute;
  top: 80.346%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.fourthPage .headerFourth h3 {
  position: absolute;
  top: 108.158%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.fourthPage .mainFourth {
  position: relative;
  width: 100%;
  height: 90%;
}
.fourthPage .mainFourth h4, .fourthPage .mainFourth h5 {
  text-align: left;
}
.fourthPage .mainFourth .galleryFourth {
  width: 79.097%;
  height: 81.876%;
  position: absolute;
  top: 9.834%;
  left: 10.417%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.fourthPage .mainFourth .galleryFourth h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.06em;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.83);
  margin-bottom: 20px;
}
.fourthPage .mainFourth .galleryFourth p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.025em;
  line-height: 28px;
  margin-bottom: 20px;
}
.fourthPage .mainFourth .galleryFourth a {
  font-family: "Raleway", sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.fourthPage .mainFourth .galleryFourth a:hover {
  color: #6eeee4;
}
.fourthPage .mainFourth .galleryFourth a::after {
  content: url(/assets/img/arrow.png);
  position: relative;
  left: 2.218%;
  top: 0.168%;
}
.fourthPage .mainFourth .galleryFourth .one {
  position: relative;
  background-color: #6eeee4;
  width: 57.193%;
  height: 35.492%;
}
.fourthPage .mainFourth .galleryFourth .one .krest {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.fourthPage .mainFourth .galleryFourth .one .oneE {
  position: absolute;
  top: 15.166%;
  left: 10.123%;
  width: 72.239%;
  height: 48.814%;
}
.fourthPage .mainFourth .galleryFourth .two {
  width: 41.579%;
  height: 35.492%;
  background-image: url(/assets/img/kollaj1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .two .twoO {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .two .twoO .twoOO {
  position: absolute;
  top: 43.6%;
  left: 13.713%;
  width: 66.456%;
  height: 42.656%;
}
.fourthPage .mainFourth .galleryFourth .two h4, .fourthPage .mainFourth .galleryFourth .two p {
  color: white;
}
.fourthPage .mainFourth .galleryFourth .three {
  width: 57.193%;
  height: 31.203%;
  background-image: url(/assets/img/kollaj2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .three .treeE {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .three .treeE .treeEE {
  position: absolute;
  top: 44.744%;
  left: 9.969%;
  width: 60.583%;
  height: 40.431%;
}
.fourthPage .mainFourth .galleryFourth .three h4, .fourthPage .mainFourth .galleryFourth .three p {
  color: white;
}
.fourthPage .mainFourth .galleryFourth .four {
  width: 41.579%;
  height: 31.203%;
  background-image: url(/assets/img/kollaj3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .four .fourR {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .four .fourR .fourRR {
  position: absolute;
  top: 44.744%;
  left: 13.713%;
  width: 64.557%;
  height: 40.431%;
}
.fourthPage .mainFourth .galleryFourth .four h4, .fourthPage .mainFourth .galleryFourth .four p {
  color: white;
}
.fourthPage .mainFourth .galleryFourth .five {
  width: 41.579%;
  height: 31.119%;
  background-image: url(/assets/img/kollaj4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .five .fiveE {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .five .fiveE .fiveEE {
  position: absolute;
  top: 35.405%;
  left: 13.713%;
  width: 60.557%;
  height: 49.19%;
}
.fourthPage .mainFourth .galleryFourth .five h4, .fourthPage .mainFourth .galleryFourth .five p {
  color: white;
}
.fourthPage .mainFourth .galleryFourth .six {
  width: 57.193%;
  height: 31.119%;
  background-image: url(/assets/img/kollaj5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .six .sixX {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .six .sixX .sixXX {
  position: absolute;
  top: 35.405%;
  left: 9.969%;
  width: 60.583%;
  height: 49.19%;
}
.fourthPage .mainFourth .galleryFourth .six h4, .fourthPage .mainFourth .galleryFourth .six p {
  color: white;
}/*# sourceMappingURL=fourthPage.css.map */