@import "varaibles.scss";



.ninthPage {
    max-width: 1440px;
    height: 312px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    h4 {
        color: rgba(255, 255, 255, .8);
        font-weight: normal;
        padding-bottom: 1.39%;
    }
    .copyright {
        color: rgba(255, 255, 255, .4);
        padding-top: 2.78%;
    }
    .icons {
        img {
            background-color: rgba(108, 110, 111, .4);
            &:hover {
                background-color: $bgColorContrast;
            }
        }
    }
}