.ninthPage {
  max-width: 1440px;
  height: 312px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.ninthPage h4 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
  padding-bottom: 1.39%;
}
.ninthPage .copyright {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 2.78%;
}
.ninthPage .icons img {
  background-color: rgba(108, 110, 111, 0.4);
}
.ninthPage .icons img:hover {
  background-color: #6eeee4;
}/*# sourceMappingURL=ninthPage.css.map */