.secondPage {
  max-width: 1440px;
  height: 985px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.secondPage h2, .secondPage h3, .secondPage h4, .secondPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.secondPage .headerSecond {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 20%;
}
.secondPage .headerSecond h2 {
  position: absolute;
  top: 65.99%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.secondPage .headerSecond h3 {
  position: absolute;
  top: 88.833%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.secondPage .mainSecond {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.secondPage .mainSecond .imgSecond {
  position: relative;
  width: 50%;
  height: 100%;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item {
  position: absolute;
  left: 23.194%;
  bottom: 21.193%;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item img {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow {
  display: block;
  position: absolute;
  top: 10%;
  width: 50px;
  height: 80%;
  background-color: #eff0f2;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow p {
  position: absolute;
  top: 45%;
  color: white;
  font-size: 25px;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow p:hover {
  color: black;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow.arrow-prev p {
  position: absolute;
  left: 45%;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow.arrow-next {
  right: 0;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow.arrow-next p {
  position: absolute;
  right: 45%;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper [id^=target-item] {
  display: none;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .item-1 {
  z-index: 2;
  opacity: 1;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper *:target ~ .item-1 {
  opacity: 0;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper #target-item-1:target ~ .item-1 {
  opacity: 1;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper #target-item-2:target ~ .item-2, .secondPage .mainSecond .imgSecond .carousel-wrapper #target-item-3:target ~ .item-3, .secondPage .mainSecond .imgSecond .carousel-wrapper #target-item-4:target ~ .item-4 {
  z-index: 3;
  opacity: 1;
}
.secondPage .mainSecond .textSecond {
  width: 50%;
  height: 100%;
  position: relative;
}
.secondPage .mainSecond .textSecond .contentSecond {
  position: absolute;
  bottom: 32.36%;
  right: 23.194%;
  width: 68%;
  height: 53%;
}
.secondPage .mainSecond .textSecond .contentSecond h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}
.secondPage .mainSecond .textSecond .contentSecond p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.74);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.secondPage .mainSecond .textSecond .contentSecond h5 {
  font-family: "Merriweather", serif;
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}/*# sourceMappingURL=secondPage.css.map */