@import "varaibles.scss";



.secondPage {
    max-width: 1440px;
    height: 985px;
    margin: 0 auto;
    letter-spacing: 0.06em;
    line-height: 28px;
    h2, h3, h4, h5 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .headerSecond {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        height: 20%;
        h2 {
            position: absolute;
            top: 65.99%;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 38px;
            font-weight: bold;
            color: rgba($color: $colorText, $alpha: .9);
            margin-bottom: 18px;
        }
        h3 {
            position: absolute;
            top: 88.833%;
            width: 100%;
            font-family: 'Merriweather', serif;
            font-size: 18px;
            font-weight: normal;
            color: rgba($color: $colorText, $alpha: .62);
        }
    }
    .mainSecond {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        .imgSecond {
            position: relative;
            width: 50%;
            height: 100%;
            .carousel-wrapper{
                position: absolute;
                height: 100%;
                width: 100%;
                .carousel-item{
                    position: absolute;
                    left: 23.194%;
                    bottom: 21.193%;
                    padding: 25px 50px;
                    opacity:0;
                    transition: all 0.5s ease-in-out;
                    img {
                        box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .1);
                    }
                    .arrow{
                        display: block;
                        position: absolute;
                        top: 10%;
                        width: 50px;
                        height: 80%;
                        background-color:rgb(239, 240, 242);
                        p {
                            position: absolute;
                            top: 45%;
                            color: white;
                            font-size: 25px;
                            &:hover {
                                color: black;
                            }
                        }
                        &.arrow-prev {
                            left: 0;
                            p {
                                position: absolute;
                                left: 45%;
                            }
                        }
                        &.arrow-next{
                            right:0;
                            p {
                                position: absolute;
                                right: 45%;
                            }
                        }
                    }
                }
                [id^="target-item"]{
                    display:none;
                }
                .item-1{
                    z-index:2;
                    opacity:1;
                }
                *:target~.item-1{ 
                    opacity:0;
                }
                #target-item-1:target~.item-1{
                    opacity:1;
                }
                #target-item-2:target~.item-2, #target-item-3:target~.item-3, #target-item-4:target~.item-4{
                    z-index:3;
                    opacity:1;
                }
            }
        }
        .textSecond {
            width: 50%;
            height: 100%;
            position: relative;
            .contentSecond {
                position: absolute;
                bottom: 32.360%;
                right: 23.194%;
                width: 68%;
                height: 53%;
                h4 {
                    font-family: 'Merriweather', serif;
                    font-size: 20px;
                    font-weight: bold;
                    color: rgba($color: $colorText, $alpha: .75);
                }
                p {
                    font-family: 'Raleway', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    color: rgba($color: $colorText, $alpha: .74);
                    letter-spacing: 0.05em;
                    margin-bottom: 20px;
                }
                h5 {
                    font-family: 'Merriweather', serif;
                    font-size: 17px;
                    font-weight: bold;
                    color: rgba($color: $colorText, $alpha: .75);
                }
            }
        }
    }
}
