@import "varaibles.scss";




.seventhPage {
    width: 1440px;
    height: 387px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .brandsSeventhOne {
        width: 39.583%;
        height: 25.84%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brandsSeventhTwo {
        width: 79.167%;
        height: 25.84%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brand:hover {
        background-color: $bgColorContrast;
        border-radius: 10px;
        box-shadow: inset 0 0 20px white;
    }
}