@import "varaibles.scss";



.sixthPage {
    width: 1440px;
    height: 923px;
    margin: 0 auto;
    letter-spacing: 0.06em;
    line-height: 28px;
    h2, h3, h4, h5 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .headerSixth {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        height: 20%;
        h2 {
            position: absolute;
            top: 70.423%;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 38px;
            font-weight: bold;
            color: rgba($color: $colorText, $alpha: .9);
            margin-bottom: 18px;
        }
        h3 {
            position: absolute;
            top: 94.80%;
            width: 100%;
            font-family: 'Merriweather', serif;
            font-size: 18px;
            font-weight: normal;
            color: rgba($color: $colorText, $alpha: .62);
        }
    }
    .mainSixth {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapperSixth {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 79.167%;
            height: 63.38%;
            .karuselSixth {
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-items: center;
                width: 34.474%;
                height: 100%;
            }
            .contentSixth {
                position: relative;
                width: 58.421%;
                height: 100%;
                .citataSixth {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    top: 5.13%;
                    width: 100%;
                    height: 77.35%;
                    background-color: rgb(234, 235, 237);
                    h4 {
                        font-family: 'Merriweather', serif;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.05em;
                        font-weight: bold;
                        color: rgba($color: black, $alpha: .95);
                        margin-bottom: 25px;
                        text-align: left;
                        span {
                            font-size: 15px;
                            letter-spacing: 0.03em;
                            font-weight: normal;
                            color: rgba(118, 112, 112, .95);
                            font-style: italic;
                            text-transform: none;
                        }
                    }
                    p {
                        font-family: 'Raleway', sans-serif;
                        font-size: 16px;
                        font-weight: normal;
                        color: rgba($color: black, $alpha: .75);
                        letter-spacing: 0.025em;
                        line-height: 28px;
                        margin-bottom: 20px;
                    }
                    .textSixth {
                        width: 75%;
                        text-align: center;
                        margin-bottom: 3.287%;
                    }
                }
                .buttonsSixth {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 17.735%;
                    .imgSixth {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }

    }
}