.sixthPage {
  width: 1440px;
  height: 923px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.sixthPage h2, .sixthPage h3, .sixthPage h4, .sixthPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.sixthPage .headerSixth {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 20%;
}
.sixthPage .headerSixth h2 {
  position: absolute;
  top: 70.423%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.sixthPage .headerSixth h3 {
  position: absolute;
  top: 94.8%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.sixthPage .mainSixth {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sixthPage .mainSixth .wrapperSixth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 79.167%;
  height: 63.38%;
}
.sixthPage .mainSixth .wrapperSixth .karuselSixth {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 34.474%;
  height: 100%;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth {
  position: relative;
  width: 58.421%;
  height: 100%;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 5.13%;
  width: 100%;
  height: 77.35%;
  background-color: #eaebed;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
  margin-bottom: 25px;
  text-align: left;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth h4 span {
  font-size: 15px;
  letter-spacing: 0.03em;
  font-weight: normal;
  color: rgba(118, 112, 112, 0.95);
  font-style: italic;
  text-transform: none;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.025em;
  line-height: 28px;
  margin-bottom: 20px;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth .textSixth {
  width: 75%;
  text-align: center;
  margin-bottom: 3.287%;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .buttonsSixth {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 17.735%;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .buttonsSixth .imgSixth {
  position: absolute;
  bottom: 0;
  right: 0;
}/*# sourceMappingURL=sixthPage.css.map */