@import "normolize.css";
@import "varaibles.scss";
@import "mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
// font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
// font-family: 'Merriweather', serif;

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: local('FontAwesome'), url('/assets/fonts/9466.otf') format('otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}



body {
    // background: linear-gradient($bgColorFirstPage 0%, $bgColorFirstPage 9.805%, $bgColorEven 9.805%, $bgColorEven 21.803%, $bgColorOdd 21.803%, $bgColorOdd 36.005%, $bgColorEven 36.005%, $bgColorEven 55.713%, $bgColorOdd 55.713%, $bgColorOdd 71.718%, $bgColorEven 71.718%, $bgColorEven 82.96%, $bgColorOdd 82.96%, $bgColorOdd 87.674%, $bgColorEven 87.674%, $bgColorEven 96.2%, $bgColorFooter 96.2%, $bgColorFooter 100%) bottom;
    // background: linear-gradient(to bottom, $bgColorFirstPage 0, $bgColorFirstPage 805px, $bgColorEven 805px, $bgColorEven 1790px, $bgColorOdd 1790px, $bgColorOdd 2956px, $bgColorEven 2956px, $bgColorEven 4574px, $bgColorOdd 4574px, $bgColorOdd 5888px, $bgColorEven 5888px, $bgColorEven 6811px, $bgColorOdd 6811px, $bgColorOdd 7198px, $bgColorEven 7198px, $bgColorEven 7898px, $bgColorFooter 7898px, $bgColorFooter 8210px);
    .wrapper {
        width: 100%;
        height: 100%;
        // margin: 0 auto;
    }
    .firstBg{
        background-color: $bgColorFirstPage;
    }
    .evenBg{
        background-color: $bgColorEven;
    }
    .oddBg{
        background-color: $bgColorOdd;
    }
    .footerBg{
        background-color: $bgColorFooter;
    }
    .formBg {
        background-image: url(/assets/img/bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@import "firstPage.scss";
@import "secondPage.scss";
@import "thirdPage.scss";
@import "fourthPage.scss";
@import "fifthPage.scss";
@import "sixthPage.scss";
@import "seventhPage.scss";
@import "eighthPage.scss";
@import "ninthPage.scss";