@import "normolize.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: local("FontAwesome"), url("/assets/fonts/9466.otf") format("otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body .wrapper {
  width: 100%;
  height: 100%;
}
body .firstBg {
  background-color: #eff0f2;
}
body .evenBg {
  background-color: #f8fafa;
}
body .oddBg {
  background-color: white;
}
body .footerBg {
  background-color: #262b2e;
}
body .formBg {
  background-image: url(/assets/img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.firstPage {
  max-width: 1440px;
  height: 805px;
  margin: 0 auto;
}
.firstPage .headerFirst {
  width: 100%;
  height: 20%;
  position: relative;
}
.firstPage .headerFirst .logo {
  position: absolute;
  top: 39.752%;
  left: 10.417%;
  width: 113px;
  height: 46px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstPage .headerFirst .logo .shopno {
  font: bold 17px/28px "Montserrat", sans-serif;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.firstPage .headerFirst .logo .shopno span {
  font-size: 21px;
  color: #6eeee4;
}
.firstPage .headerFirst .burger {
  position: absolute;
  top: 28%;
  right: 10.417%;
}
.firstPage .headerFirst .burger .container {
  position: absolute;
  right: 0;
}
.firstPage .headerFirst .burger .container #toggle {
  position: absolute;
  visibility: hidden;
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .toggle-container .button-toggle:before {
  transform: translateY(-50%) rotate(45deg) scale(1);
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .toggle-container .button-toggle:after {
  transform: translateY(-50%) rotate(-45deg) scale(1);
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .nav {
  display: grid;
  grid-template-columns: repeat(4, 162.5px);
  grid-template-rows: repeat(2, 30px);
  width: 650px;
  height: 60px;
  margin-bottom: 100px;
  pointer-events: auto;
  transform: translate(-60px, -15px);
  background-color: rgba(112, 244, 234, 0.5);
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .nav .nav-item {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #606061;
  letter-spacing: 0;
  height: 10px;
  line-height: 28px;
  margin-top: 0;
  opacity: 1;
  transform: scaleY(1);
  transition: 0.5s, opacity 0.1s;
}
.firstPage .headerFirst .burger .container #toggle:checked ~ .nav .nav-item:before {
  opacity: 0;
}
.firstPage .headerFirst .burger .container .button-toggle {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}
.firstPage .headerFirst .burger .container .button-toggle:hover {
  box-shadow: 0 0 0 15px #70f4ea, inset 0 0 0 20px #70f4ea;
}
.firstPage .headerFirst .burger .container .button-toggle:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #606061;
  border-radius: 5px;
  transition: 0.5s;
  transform: translateY(-50%) rotate(45deg) scale(0);
}
.firstPage .headerFirst .burger .container .button-toggle:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #606061;
  border-radius: 5px;
  transition: 0.5s;
  transform: translateY(-50%) rotate(-45deg) scale(0);
}
.firstPage .headerFirst .burger .container .nav {
  display: inline-block;
  margin: 25px 25px 20px;
  pointer-events: none;
  transition: 0.5s;
}
.firstPage .headerFirst .burger .container .nav .nav-item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);
  transition: 0.5s, opacity 1s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(1) {
  transition-delay: 0s;
  letter-spacing: -5px;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(1):before {
  transition-delay: 0s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(2) {
  transition-delay: 0.05s;
  letter-spacing: -6.85px;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(2):before {
  transition-delay: 0.05s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(3) {
  transition-delay: 0.1s;
  letter-spacing: -5.7px;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(3):before {
  transition-delay: 0.1s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(4) {
  transition-delay: 0.15s;
  letter-spacing: -6px;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(4):before {
  transition-delay: 0.15s;
}
.firstPage .headerFirst .burger .container .nav .nav-item:nth-child(n+5) {
  letter-spacing: -8px;
  margin-top: -7px;
  opacity: 0;
}
.firstPage .headerFirst .burger .container .nav .nav-item:before {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #606061;
  transform: translateY(-50%) scaleY(5);
  transition: 0.5s;
}
.firstPage .mainFirst {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
}
.firstPage .mainFirst h1 {
  position: absolute;
  bottom: 60.094%;
  width: 100%;
  margin: 0;
  font: bold 45px/56px "Montserrat", sans-serif;
  color: #505050;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.firstPage .mainFirst h1 span {
  display: inline-block;
  width: 255px;
  background-color: rgba(110, 238, 228, 0.5);
}
.firstPage .mainFirst h1 .agency {
  width: 236px;
}
.firstPage .mainFirst .buttonFirst {
  position: absolute;
  bottom: 197px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 232px;
  height: 53px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.12em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstPage .mainFirst .buttonFirst a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}
.firstPage .mainFirst .buttonFirst:hover {
  border: 2px solid rgba(110, 238, 228, 0.5);
  background-color: #505050;
}
.firstPage .mainFirst .buttonFirst:hover a {
  color: #6eeee4;
}
.firstPage .mainFirst .imgFirst {
  position: absolute;
  bottom: 21.273%;
  right: 16.875%;
}

.secondPage {
  max-width: 1440px;
  height: 985px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.secondPage h2, .secondPage h3, .secondPage h4, .secondPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.secondPage .headerSecond {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 20%;
}
.secondPage .headerSecond h2 {
  position: absolute;
  top: 65.99%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.secondPage .headerSecond h3 {
  position: absolute;
  top: 88.833%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.secondPage .mainSecond {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.secondPage .mainSecond .imgSecond {
  position: relative;
  width: 50%;
  height: 100%;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item {
  position: absolute;
  left: 23.194%;
  bottom: 21.193%;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item img {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow {
  display: block;
  position: absolute;
  top: 10%;
  width: 50px;
  height: 80%;
  background-color: #eff0f2;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow p {
  position: absolute;
  top: 45%;
  color: white;
  font-size: 25px;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow p:hover {
  color: black;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow.arrow-prev p {
  position: absolute;
  left: 45%;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow.arrow-next {
  right: 0;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .carousel-item .arrow.arrow-next p {
  position: absolute;
  right: 45%;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper [id^=target-item] {
  display: none;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper .item-1 {
  z-index: 2;
  opacity: 1;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper *:target ~ .item-1 {
  opacity: 0;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper #target-item-1:target ~ .item-1 {
  opacity: 1;
}
.secondPage .mainSecond .imgSecond .carousel-wrapper #target-item-2:target ~ .item-2, .secondPage .mainSecond .imgSecond .carousel-wrapper #target-item-3:target ~ .item-3, .secondPage .mainSecond .imgSecond .carousel-wrapper #target-item-4:target ~ .item-4 {
  z-index: 3;
  opacity: 1;
}
.secondPage .mainSecond .textSecond {
  width: 50%;
  height: 100%;
  position: relative;
}
.secondPage .mainSecond .textSecond .contentSecond {
  position: absolute;
  bottom: 32.36%;
  right: 23.194%;
  width: 68%;
  height: 53%;
}
.secondPage .mainSecond .textSecond .contentSecond h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}
.secondPage .mainSecond .textSecond .contentSecond p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.74);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.secondPage .mainSecond .textSecond .contentSecond h5 {
  font-family: "Merriweather", serif;
  font-size: 17px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}

.thirdPage {
  max-width: 1440px;
  height: 1166px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.thirdPage h2, .thirdPage h3, .thirdPage h4, .thirdPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.thirdPage .headerThird {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 20%;
}
.thirdPage .headerThird h2 {
  position: absolute;
  top: 55.746%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.thirdPage .headerThird h3 {
  position: absolute;
  top: 75.043%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.thirdPage .mainThird {
  position: relative;
  width: 100%;
  height: 80%;
}
.thirdPage .mainThird .galleryThird {
  width: 79.097%;
  height: 78.366%;
  position: absolute;
  top: 8.233%;
  left: 10.417%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.thirdPage .mainThird .galleryThird .imgThird {
  max-width: 100%;
}

.fourthPage {
  width: 1440px;
  height: 1618px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.fourthPage h2, .fourthPage h3, .fourthPage h4, .fourthPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.fourthPage .headerFourth {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 10%;
}
.fourthPage .headerFourth h2 {
  position: absolute;
  top: 80.346%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.fourthPage .headerFourth h3 {
  position: absolute;
  top: 108.158%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.fourthPage .mainFourth {
  position: relative;
  width: 100%;
  height: 90%;
}
.fourthPage .mainFourth h4, .fourthPage .mainFourth h5 {
  text-align: left;
}
.fourthPage .mainFourth .galleryFourth {
  width: 79.097%;
  height: 81.876%;
  position: absolute;
  top: 9.834%;
  left: 10.417%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.fourthPage .mainFourth .galleryFourth h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.06em;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.83);
  margin-bottom: 20px;
}
.fourthPage .mainFourth .galleryFourth p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.025em;
  line-height: 28px;
  margin-bottom: 20px;
}
.fourthPage .mainFourth .galleryFourth a {
  font-family: "Raleway", sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.fourthPage .mainFourth .galleryFourth a:hover {
  color: #6eeee4;
}
.fourthPage .mainFourth .galleryFourth a::after {
  content: url(/assets/img/arrow.png);
  position: relative;
  left: 2.218%;
  top: 0.168%;
}
.fourthPage .mainFourth .galleryFourth .one {
  position: relative;
  background-color: #6eeee4;
  width: 57.193%;
  height: 35.492%;
}
.fourthPage .mainFourth .galleryFourth .one .krest {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.fourthPage .mainFourth .galleryFourth .one .oneE {
  position: absolute;
  top: 15.166%;
  left: 10.123%;
  width: 72.239%;
  height: 48.814%;
}
.fourthPage .mainFourth .galleryFourth .two {
  width: 41.579%;
  height: 35.492%;
  background-image: url(/assets/img/kollaj1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .two .twoO {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .two .twoO .twoOO {
  position: absolute;
  top: 43.6%;
  left: 13.713%;
  width: 66.456%;
  height: 42.656%;
}
.fourthPage .mainFourth .galleryFourth .two h4, .fourthPage .mainFourth .galleryFourth .two p {
  color: white;
}
.fourthPage .mainFourth .galleryFourth .three {
  width: 57.193%;
  height: 31.203%;
  background-image: url(/assets/img/kollaj2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .three .treeE {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .three .treeE .treeEE {
  position: absolute;
  top: 44.744%;
  left: 9.969%;
  width: 60.583%;
  height: 40.431%;
}
.fourthPage .mainFourth .galleryFourth .three h4, .fourthPage .mainFourth .galleryFourth .three p {
  color: white;
}
.fourthPage .mainFourth .galleryFourth .four {
  width: 41.579%;
  height: 31.203%;
  background-image: url(/assets/img/kollaj3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .four .fourR {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .four .fourR .fourRR {
  position: absolute;
  top: 44.744%;
  left: 13.713%;
  width: 64.557%;
  height: 40.431%;
}
.fourthPage .mainFourth .galleryFourth .four h4, .fourthPage .mainFourth .galleryFourth .four p {
  color: white;
}
.fourthPage .mainFourth .galleryFourth .five {
  width: 41.579%;
  height: 31.119%;
  background-image: url(/assets/img/kollaj4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .five .fiveE {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .five .fiveE .fiveEE {
  position: absolute;
  top: 35.405%;
  left: 13.713%;
  width: 60.557%;
  height: 49.19%;
}
.fourthPage .mainFourth .galleryFourth .five h4, .fourthPage .mainFourth .galleryFourth .five p {
  color: white;
}
.fourthPage .mainFourth .galleryFourth .six {
  width: 57.193%;
  height: 31.119%;
  background-image: url(/assets/img/kollaj5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourthPage .mainFourth .galleryFourth .six .sixX {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.fourthPage .mainFourth .galleryFourth .six .sixX .sixXX {
  position: absolute;
  top: 35.405%;
  left: 9.969%;
  width: 60.583%;
  height: 49.19%;
}
.fourthPage .mainFourth .galleryFourth .six h4, .fourthPage .mainFourth .galleryFourth .six p {
  color: white;
}

.fifthPage {
  max-width: 1440px;
  height: 1314px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.fifthPage h2, .fifthPage h3, .fifthPage h4, .fifthPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.fifthPage .headerFifth {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 20%;
}
.fifthPage .headerFifth h2 {
  position: absolute;
  top: 49.467%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.fifthPage .headerFifth h3 {
  position: absolute;
  top: 66.591%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.fifthPage .mainFifth {
  position: relative;
  width: 100%;
  height: 80%;
}
.fifthPage .mainFifth .galleryFifth {
  width: 79.236%;
  height: 85.046%;
  position: absolute;
  top: 3.729%;
  left: 10.417%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.fifthPage .mainFifth .galleryFifth h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
  margin-bottom: 25px;
  text-align: left;
}
.fifthPage .mainFifth .galleryFifth h4 span {
  font-size: 15px;
  letter-spacing: 0.03em;
  font-weight: normal;
  color: rgba(118, 112, 112, 0.95);
  font-style: italic;
  text-transform: none;
}
.fifthPage .mainFifth .galleryFifth p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.025em;
  line-height: 28px;
  margin-bottom: 20px;
}
.fifthPage .mainFifth .galleryFifth .cardFifth {
  position: relative;
  width: 32.428%;
  height: 49.217%;
}
.fifthPage .mainFifth .galleryFifth .cardFifth .imgFifth {
  max-width: 100%;
}
.fifthPage .mainFifth .galleryFifth .cardFifth .cardContent {
  opacity: 0;
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-image: url(/assets/img/clowd.png);
  width: 100%;
  height: 100%;
  padding: 60.364% 18.919% 12.955% 15.135%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.fifthPage .mainFifth .galleryFifth .cardFifth .cardContent:hover {
  opacity: 1;
}

.sixthPage {
  width: 1440px;
  height: 923px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.sixthPage h2, .sixthPage h3, .sixthPage h4, .sixthPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.sixthPage .headerSixth {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 20%;
}
.sixthPage .headerSixth h2 {
  position: absolute;
  top: 70.423%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.sixthPage .headerSixth h3 {
  position: absolute;
  top: 94.8%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.sixthPage .mainSixth {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sixthPage .mainSixth .wrapperSixth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 79.167%;
  height: 63.38%;
}
.sixthPage .mainSixth .wrapperSixth .karuselSixth {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 34.474%;
  height: 100%;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth {
  position: relative;
  width: 58.421%;
  height: 100%;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 5.13%;
  width: 100%;
  height: 77.35%;
  background-color: #eaebed;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
  margin-bottom: 25px;
  text-align: left;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth h4 span {
  font-size: 15px;
  letter-spacing: 0.03em;
  font-weight: normal;
  color: rgba(118, 112, 112, 0.95);
  font-style: italic;
  text-transform: none;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.025em;
  line-height: 28px;
  margin-bottom: 20px;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .citataSixth .textSixth {
  width: 75%;
  text-align: center;
  margin-bottom: 3.287%;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .buttonsSixth {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 17.735%;
}
.sixthPage .mainSixth .wrapperSixth .contentSixth .buttonsSixth .imgSixth {
  position: absolute;
  bottom: 0;
  right: 0;
}

.seventhPage {
  width: 1440px;
  height: 387px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seventhPage .brandsSeventhOne {
  width: 39.583%;
  height: 25.84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seventhPage .brandsSeventhTwo {
  width: 79.167%;
  height: 25.84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seventhPage .brand:hover {
  background-color: #6eeee4;
  border-radius: 10px;
  box-shadow: inset 0 0 20px white;
}

.eighthPage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
}
.eighthPage .mainEighth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 79.167%;
  height: 65.714%;
}
.eighthPage .mainEighth .formEighth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53.947%;
  height: 100%;
  background-color: rgba(2, 22, 35, 0.71);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
}
.eighthPage .mainEighth .formEighth form {
  width: 89.9%;
  height: 83.478%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.eighthPage .mainEighth .formEighth form input, .eighthPage .mainEighth .formEighth form textarea {
  background-color: rgba(74, 88, 98, 0);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
.eighthPage .mainEighth .formEighth form .textareaEighth {
  width: 100%;
  height: 23.958%;
}
.eighthPage .mainEighth .formEighth form label {
  color: rgba(255, 255, 255, 0.3);
}
.eighthPage .mainEighth .formEighth form .submit {
  width: 245px;
  height: 55px;
  background-color: #6eeee4;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 0.12em;
  font-weight: bold;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}
.eighthPage .mainEighth .formEighth form .submit:hover {
  cursor: pointer;
  background-color: #262b2e;
  color: white;
}
.eighthPage .mainEighth .contactsEighth {
  width: 43.86%;
  height: 100%;
  background-color: rgba(2, 22, 35, 0.71);
  padding: 1.667% 1.93%;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.eighthPage .mainEighth .contactsEighth .listOne {
  padding-top: 3.51%;
  padding-left: 1.974%;
  line-height: 1.5;
}
.eighthPage .mainEighth .contactsEighth .listTwo {
  padding-top: 2.5%;
  padding-left: 1.974%;
  line-height: 1.5;
}

.ninthPage {
  max-width: 1440px;
  height: 312px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.ninthPage h4 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
  padding-bottom: 1.39%;
}
.ninthPage .copyright {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 2.78%;
}
.ninthPage .icons img {
  background-color: rgba(108, 110, 111, 0.4);
}
.ninthPage .icons img:hover {
  background-color: #6eeee4;
}/*# sourceMappingURL=style.css.map */