.thirdPage {
  max-width: 1440px;
  height: 1166px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 28px;
}
.thirdPage h2, .thirdPage h3, .thirdPage h4, .thirdPage h5 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.thirdPage .headerThird {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 20%;
}
.thirdPage .headerThird h2 {
  position: absolute;
  top: 55.746%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 18px;
}
.thirdPage .headerThird h3 {
  position: absolute;
  top: 75.043%;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.62);
}
.thirdPage .mainThird {
  position: relative;
  width: 100%;
  height: 80%;
}
.thirdPage .mainThird .galleryThird {
  width: 79.097%;
  height: 78.366%;
  position: absolute;
  top: 8.233%;
  left: 10.417%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.thirdPage .mainThird .galleryThird .imgThird {
  max-width: 100%;
}/*# sourceMappingURL=thirdPage.css.map */