@import "varaibles.scss";



.thirdPage {
    max-width: 1440px;
    height: 1166px;
    margin: 0 auto;
    letter-spacing: 0.06em;
    line-height: 28px;
    h2, h3, h4, h5 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    .headerThird {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        height: 20%;
        h2 {
            position: absolute;
            top: 55.746%;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 38px;
            font-weight: bold;
            color: rgba($color: $colorText, $alpha: .9);
            margin-bottom: 18px;
        }
        h3 {
            position: absolute;
            top: 75.043%;
            width: 100%;
            font-family: 'Merriweather', serif;
            font-size: 18px;
            font-weight: normal;
            color: rgba($color: $colorText, $alpha: .62);
        }
    }
    .mainThird {
        position: relative;
        width: 100%;
        height: 80%;
        .galleryThird {
            width: 79.097%;
            height: 78.366%;
            position: absolute;
            top: 8.233%;
            left: 10.417%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
            .imgThird {
                max-width: 100%;
            }
        }
    }
}