$bgColorFirstPage: rgb(239, 240, 242);
$bgColorEven: rgb(248, 250, 250);
$bgColorOdd: rgb(255, 255, 255);
$bgColorFooter: rgb(38, 43, 46);
$bgColorForm: rgba(2, 22, 35, .71);

$bgColorContrast: rgb(110, 238, 228);

$colorTexttTitle: rgb(80, 80, 80);
$colorText: rgb(0, 0, 0);

$borderLogo: 5px solid $colorText;
$borderButtonFirst: 2px solid rgba($color: $colorText, $alpha: .5);
